<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
<form method='post' action='/books/insert'>
<!--  Use CSS to be modern -->
<table>
    <tr><td>Title: </td><td><input type="text" name="title"  value="" placeholder="Enter Book Title" ></td></tr>
    <tr><td>Author: </td><td><input type="text" name="author" value="" placeholder="Enter Book Author"></td></tr>
    <tr><td>Price: </td><td><input type="text" name="price" value="" placeholder="Enter Book Price"></td></tr>
    <tr><td class='recordcontrol' colspan="2">
            <input type='submit' value="Save">
            &nbsp;
            <!-- Could also pass to the server as a submit and determine redirect action there -->
            <a href='/books/' style="text-decoration: none;"><input type="button" value='Cancel Edit'></a>
        </td></tr>
</table>
</form>
</body>
</html>