<div class="section-assignment1" ng-controller="Assignment1Ctrl">
    <div class="card">
        <h2>Javascript</h2>
        <div class="parts">
            <a href="http://cse136-10.tk/Task1/javascript/hello-world.cgi">Part 1 - Hello World</a>
            <a href="http://cse136-10.tk/Task1/javascript/env.cgi">Part 2 - Environment Variables</a>
            <a href="http://cse136-10.tk/Task1/javascript/getpost.cgi">Part 3 - Get/Post Processing</a>
        </div>
        <br>
        <br>
        <h2>Python</h2>
        <div class="parts">
            <a href="http://cse136-10.tk/Task1/python/hello-world.cgi">Part 1 - Hello World</a>
            <a href="http://cse136-10.tk/Task1/python/env.cgi">Part 2 - Environment Variables</a>
            <a href="http://cse136-10.tk/Task1/python/getpost.cgi">Part 3 - Get/Post Processing</a>
        </div>
        <br>
        <br>
        <h2>Java</h2>
        <div class="parts">
            <a href="http://cse136-10.tk/Task1/java/hello-world.cgi">Part 1 - Hello World</a>
            <a href="http://cse136-10.tk/Task1/java/env.cgi">Part 2 - Environment Variables</a>
            <a href="http://cse136-10.tk/Task1/java/getpost.cgi">Part 3 - Get/Post Processing</a>
        </div>
        <br>
        <br>
        <h2>Ruby</h2>
        <div class="parts">
            <a href="http://cse136-10.tk/Task1/ruby/hello-world.cgi">Part 1 - Hello World</a>
            <a href="http://cse136-10.tk/Task1/ruby/env.cgi">Part 2 - Environment Variables</a>
            <a href="http://cse136-10.tk/Task1/ruby/getpost.cgi">Part 3 - Get/Post Processing</a>
        </div>
        <br>
        <br>
        <h2>PHP</h2>
        <div class="parts">
            <a href="http://cse136-10.tk/Task1/php/hello-world.cgi">Part 1 - Hello World</a>
            <a href="http://cse136-10.tk/Task1/php/var.cgi">Part 2 - Environment Variables</a>
            <a href="http://cse136-10.tk/Task1/php/getpost.cgi">Part 3 - Get/Post Processing</a>
        </div>
    </div>
</div>
