<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css">
    <title>Error</title>
</head>
<body>
    <h1>Error</h1>
    <hr>
    <h3>Something bad happened...</h3>
    <div>
        <%= errorType%>
    </div>
    <form action="/login" method="get">
        <input type="submit" value="Log in">
    </form>
    <form action="/newAccountForm" method="post">
        <input type="submit" value="Sign in">
    </form>
    <form action="/books/add" method="get">
        <input type="submit" value="Add bookmark">
    </form>
       
</body>

</html>