<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <title>Add a new Bookmark</title>
</head>
<body>
<div class="container">
    <form id = "add-form" method='post' action='/bookmarks/insert'  >
        <h2>Bookmarx</h2>
        <p>Add a new bookmark</p>
        <p>Fill out the form with the requested values</p>
        <input type="text" name="title" placeholder="Title" required="true"><br>
        <input type="url" name="url" placeholder="URL" required="true"><br>
        <div class="folder">
            <input type="checkbox" value="selected" id="social-folder" class="folder-input">
            <label for="social-folder" class="social-label">Advanced Options</label>
            <div role="folder" class="folder-content">
                <div id="tagHolder">
                    <input class="input-option tag1" type="text" name="tag1" placeholder="Tag 1"><br>
                    <input class="input-option tag2" type="text" name="tag2" placeholder="Tag 2"><br>
                    <input class="input-option tag3" type="text" name="tag3" placeholder="Tag 3"><br>
                    <input class="input-option tag4" type="text" name="tag4" placeholder="Tag 4"><br>
                </div>
                <input class="input-option" type="text" name="description" placeholder="Description"><br>
                <label for="star">Star it?</label><input type="checkbox" name="star" id="star"><br>
            </div>
        </div>

        <button class="btn-form" type = "submit" id="confirm_add">ADD</button>
        <button class="btn-form" type = "button" id="cancel_add" onClick="location.href='assignment2.html'" style="float:right">CANCEL</button>

    </form>

</div>
</body>
</html>
