<div class="section-tm">
    <h2 class="heading">Team Members</h2>
    <div class="tm__tiles">
        <div class="tm__tile">
            <img src="./imgs/Anthony.jpg" class="photo circle">
            <div class="card">
                <h3 class="name"> {{ Anthony.fullname }} </h3>
                <p class="info"> {{ Anthony.phonenum }} </p>
                <p class="info"> {{ Anthony.email }} </p>
                <p class="info"> {{ Anthony.githublink }} </p>
                <p class="bio"> {{ Anthony.bio }} </p>
            </div>
        </div>
        <div class="tm__tile">
            <img src="./imgs/guillaume.png" class="photo circle">
            <div class="card">
                <h3 class="name"> {{ Guillaume.fullname }} </h3>
                <p class="info"> {{ Guillaume.phonenum }} </p>
                <p class="info"> {{ Guillaume.email }} </p>
                <p class="info"> {{ Guillaume.githublink }} </p>
                <p class="bio"> {{ Guillaume.bio }} </p>
            </div>
        </div>
        <div class="tm__tile">
            <img src="./imgs/daniel.jpg" class="photo circle">
            <div class="card">
                <h3 class="name"> {{ Daniel.fullname }} </h3>
                <p class="info"> {{ Daniel.phonenum }} </p>
                <p class="info"> {{ Daniel.email }} </p>
                <p class="info"> {{ Daniel.githublink }} </p>
                <p class="bio"> {{ Daniel.bio }} </p>
            </div>
        </div>
        <div class="tm__tile">
            <img src="./imgs/avatar-st.png" class="photo circle">
            <div class="card">
                <h3 class="name"> {{ Anders.fullname }} </h3>
                <p class="info"> {{ Anders.phonenum }} </p>
                <p class="info"> {{ Anders.email }} </p>
                <p class="info"> {{ Anders.githublink }} </p>
                <p class="bio"> {{ Anders.bio }} </p>
            </div>
        </div>
        <div class="tm__tile">
            <img src="./imgs/brian.jpg" class="photo circle">
            <div class="card">
                <h3 class="name"> {{ Brian.fullname }} </h3>
                <p class="info"> {{ Brian.phonenum }} </p>
                <p class="info"> {{ Brian.email }} </p>
                <p class="info"> {{ Brian.githublink }} </p>
                <p class="bio"> {{ Brian.bio }} </p>
            </div>
        </div>
    </div>
</div>
