<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error New account</title>
</head>
<body>
<h1>ERROR</h1>
    <div>
    This username is already taken. try another one ! 
    </div>
</body>
</html>