<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error New Account</title>
</head>
<body>
<h1>Error</h1>
    <div>
    Your attempt to create a new account has failed. The username is already taken.
    </div>
</body>
</html>