<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Log in</title>
</head>
<body>

<form method='post' action='/login' id="formLogin" class="group-form">
    <h1>Log in</h1>
    
   <label for="username">Username: </label>
   <input class="form-control" type="text" id="username" name="username"  value="" placeholder="Type your username" >
   <br>
   <label for="password" >Password: </label>
   <input class="form-control" type="password" id="password" name="password" value="" placeholder="Type your password">
   <input type="submit" value="Go!" id="loginButton">
</form>
<br>

<form method="post" action="/newAccountForm" class="group-form" id="formSignin">
    <label for="signin">New user? Sign in here !</label>
    <input type="submit" value="Create my account" id="signin">     
</form>
</body>
</html>
