<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<h1>Create your account</h1>
<form method='post' action='/newAccount' onsubmit="return validateForm()">
    <!--  Use CSS to be modern -->
    <table>
        <tr>
            <td>Username: </td><td><input type="email" id="username" name="username"  value="" placeholder="Write your email" required="true" ></td>
        </tr>
        <tr>
            <td>Password: </td><td><input type="password" id="password" name="password" value="" placeholder="Write your password" required="true" minlength="7"></td>
            <!--No alert on this field by the browser. Need a JS code to do the alert before sending the form-->
        </tr>
        <tr>
            <td>Confirm your password: </td><td><input type="password" id="password2" name="password2" value="" placeholder="Write your password again" required="true" minlength="7"></td>
            <!--No alert on this field by the browser. Need a JS code to do the alert before sending the form-->
        </tr>
        <tr>
            <td>First Name: </td><td><input type="text" id="name" name="name"  value="" placeholder="Write your name" required="true"  ></td>
        </tr>
        <tr>
            <td>Last Name: </td><td><input type="text" id="lastname" name="lastname" value="" placeholder="Write your last name" required="true"></td>
        </tr>
        <tr>
            <td colspan="2"><input type='submit' value="Create"></td>
        </tr>
        
    </table>
</form>
<script>
    function validateForm(){
        var x = document.getElementById('password').value;
        var x2 = document.getElementById('password2').value;
        if (x == null || x == "") {
        alert("The password must be filled out");
        return false;
        }
        else{
            if(x === x2){
                if (x.length >= 7){
                    return true;
                }
                else{
                    alert("Your password is too short. It has to be 7 characters long");
                    return false;
                }
            }
            else{
                alert("Your confirmation password is not the same as your original password.");
                return false;
                
            }
        }
    }
</script>
<script src="js/md5.min.js"></script>
</body>
</html>
