<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success New Account</title>
</head>
<body>
<h1>Succes</h1>
    <div>
    Your attempt to create was a success! You can now connect to Bookmarx using your login!
    </div>
</body>
</html>